/*day73-4_style.css*/
div.ga05{}
div.ga05 header{}
div.ga05 section{
    position: relative;
}
div.ga05 section .mainImg{
    margin: 0 10px;
    height: 480px;
    overflow: hidden;
}
div.ga05 section .btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    
}
div.ga05 section .btns button{
    width: 50px;height: 80px;
    background-color: transparent;
    font-size: 48px;
    line-height: 80px;
 
}
div.ga05 section .thumImg{
    width: calc(100% / 12 * 10);
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    margin: auto;
    left: 0; right: 0; bottom: 0;
}
div.ga05 section .thumImg ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 200%;
}
div.ga05 section .thumImg ul li{
    width: calc(100% / 10 - 20px);
    height: 80px;
}
div.ga05 section .thumImg ul li img{
    width: 100%;
}