div.mnWrap{}
div.mnWrap .bgG{
    position: relative;
    height: 740px;
}
div.mnWrap .bgG .image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
div.mnWrap .bgG .image.i1{background-image: url(../img/img01.jpg);}
div.mnWrap .bgG .image.i2{background-image: url(../img/img02.jpg);}
div.mnWrap .bgG .image.i3{background-image: url(../img/img03.jpg);}
div.mnWrap .bgG .image.i4{background-image: url(../img/img04.jpg);}
div.mnWrap main{
    position: absolute;
    width: 90%;
    max-width:1080px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 320px;

}
div.mnWrap main .h2View{
    height: 60px;
    overflow: hidden;
    outline: 2px solid red;

}
div.mnWrap main .h2View .hGroup{
    position: relative;
}
div.mnWrap main .h2View .hGroup h2{
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    height: 60px;
    color: #fff;
    text-shadow: 0 3px 9px rgba(0,0,0,0.4);
}
div.mnWrap main .pView{
    height: 60px;
    outline: 2px solid blue;
    margin-top: 80px;
    overflow: hidden;
}
div.mnWrap main .pView .pGroup{
    position: relative;
}
div.mnWrap main .pView .pGroup p{
    font-size: 18px;
    line-height: 30px;
    height: 60px;
    color: #fff;
    text-shadow: 0 2px 6px rgba(0,0,0,0.4);
}
div.mnWrap main .btn{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: #f90;
    line-height: 40px;
    width: 160px;
    border-radius: 10px;
    margin-top: 80px;
}
div.mnWrap .btns{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
    margin: auto;
    top: 0;bottom: 0;left: 0;right: 0;

}
div.mnWrap .btns div{
    width: 50%;
    height: 100%;
    
}