div.drag header{
    background-color: #fc0;
}
div.drag section{
    height: 640px;
    background-color: #ccc;
}
div.drag section .bar{
    width: 80px;height: 80px;
    background-color: #f90;
    border-radius: 20px;
}
div.drag section .bar:active{
    cursor: grab;
}