div.ct34 {
    section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .artGroup {
            width: calc(20% - 20px);
            article {
                width: 160px;
                height: 160px;
                margin: 20px auto 0;
                display: flex;
                justify-content: center;
                text-align: center;
                &:first-child {
                    margin-top: 0;
                }
                .box {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    &.dragging{
                        background-color: #f00;

                    }
                    width: 100%;
                    height: 100%;
                    background-color: #fc0;
                    cursor: grab;
                    z-index: 19;
                    overflow: hidden;
                    &:active {
                        cursor: grabbing;
                    }
                    @for $i from 1 through 6{
                        &.b#{$i}{
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: center;
                            background-image: url('../img/album0#{$i}.jpg');
                        }
                    }
                }
            }
        }
        .centerCover {
            width: calc(60% - 20px);
            position: relative;
            padding-bottom: 80px;
            .album {
                width: 520px;
                height: 520px;
                background-color: #333;
                background-image: url("../img/record.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 50%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                &.run{
                    animation-name: rounding;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                }
                @keyframes rounding {
                    100%{
                        transform: rotate(360deg);
                   }
                }
                .core {
                    width: 200px;
                    height: 200px;
                    background-color: #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position:center;
                    .btStop {
                        width: 40px;
                        border-radius: 50%;
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
            .texts {
                width: 420px;
                background-color: rgba(0,0,0,0.8);
                padding: 40px;
                position: absolute;
                bottom: 0;
                * {
                    color: #fff;
                }
                p {
                    height: 80px;
                    overflow: hidden;
                }
            }
        }
    }
}
